@font-face {
    font-family: 'IBM Plex mono';
    font-weight: normal;
    src: url('./IBMPlexMono-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex mono';
    font-weight: bold;
    src: url('./IBMPlexMono-Bold.woff') format('woff');
    font-display: swap;
}
