.theme_light {
    --color-accent: #ff8dcb;
    --color-accent-purple: #ffc2e6;
    --color-dark: #353430;
    --page-background-image: url('../images/cover-image-light.png');
    --page-background-color: #fff1f7;
    --header-label-display: none;
    --header-theme-menu-button-color: var(--color-dark);
    --section-configurable-text-color: var(--color-dark);
    --section-configurable-title-color: var(--color-dark);
    --decorative-angles-color: var(--color-dark);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-accent: #ff8dcb;
        --color-accent-purple: #ffc2e6;
        --color-dark: #353430;
        --page-background-image: url('../images/cover-image-light.png');
        --page-background-color: #fff1f7;
        --header-label-display: none;
        --header-theme-menu-button-color: var(--color-dark);
        --section-configurable-text-color: var(--color-dark);
        --section-configurable-title-color: var(--color-dark);
        --decorative-angles-color: var(--color-dark);
    }
}
