.section-core:not(:first-child) {
    padding-top: 40px;
}

.section-core:not(:last-child) {
    padding-bottom: 40px;
}

@media only screen and (max-width: 580px) {
    .section-core:not(:first-child) {
        padding-top: 25px;
    }

    .section-core:not(:last-child) {
        padding-bottom: 25px;
    }
}
