:root {
    --color-accent: #ff8dcb;
    --color-accent-purple: #ffc2e6;
    --color-dark: #353430;
    --header-label-display: none;
    --page-background-image: url('../images/cover-image.png');
    --page-background-color: transparent;
    --wrapper-size: 100%;
    --wrapper-offset: 20px;
    --common-text-shadow-offset: 2px;
}

@media only screen and (max-width: 580px) {
    :root {
        --wrapper-offset: 10px;
    }
}
